apiVersion: v1
kind: Service
metadata:
  name: sampleapp-svc
  labels:
    app: sampleapp
spec:
  selector:
    app: sampleapp
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
